.pageSideHome{
    display:flex;
}
/* index.css */
.headerHomepage {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #555;
    color: #fff;
}
