.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 28rem 0rem 0rem 32rem;
}

.nav-info {
  padding: 0rem 0rem 10rem 0.4rem;
  margin-top: -22rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  background-color: #d1d5db;
  border-radius: 0.375rem;
}

.titles-0column {
  margin-right: 1.25rem;
  width: 33.333333%;
}

.data-column {
  width: 66.666667%;
}

.title {
  background-color: #fff;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
}

.data {
  display: flex;
  background-color: #fff;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.75rem;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}

.approve-button {
  background-color: #d1d5db;
  border-width: 1px;
  border-color: #6b7280;
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 1.25rem;
}

.reject-button {
  background-color: #d1d5db;
  border-width: 1px;
  border-color: #6b7280;
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: 2.5rem;
}
