.holder {
  width: 100%;
}

.table {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  margin: 0 3rem 0 3rem;
  padding: 1.25rem;
  width: 100%;
}

.title-row {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
}

.data-row {
  border-width: 1px;
  border-style: dotted;
  border-color: #a7c9cb;
  margin-bottom: 1.25rem;
}

.arrow-button {
  width: 8.333333%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.75rem;
  margin-right: 2.5rem;
}

.approve-button {
  background-color: #d1d5db;
  border: 1px solid #a0aec0;
  border-radius: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 7rem;
}

.reject-button {
  background-color: #d1d5db;
  border: 1px solid #a0aec0;
  border-radius: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.pagination-active {
  border: 1px solid #a0aec0;
  border-radius: 9999px;
}

.pagination-page {
  color: #a0aec0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-arrow {
  color: #a0aec0;
}
