@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-primary: #002629;
    --clr-primary-10: #03656b;
    --clr-primary-20: #27797e;
    --clr-primary-40: #51a1a6;
    --clr-primary-70: #bee8e5;
    --clr-primary-90: #f1fcfd;
    --clr-secondary: #ffb84c;
    --clr-accent: #886634;
    --clr-neutral-30: #46524e;
    --clr-neutral-60: #99a19f;
    --clr-neutral-70: #b4babe;
    --clr-neutral-90: #ebf3f1;
    --clr-tetiary-90: #f0f6f6;
  }
}
