@import "../styles/variables.module.scss";

.getStarted {
  line-height: 30px;
  margin-left: 10px;
}

.actionbutton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
}

.stepbutton {
  padding: 6px 28px;
  color: #ffffff;
  background: $tertiary-color;
  border-radius: 25px;
  margin-right: 15px;
}

.action:hover {
  background-color: #0062cc;
}

.member {
  display: flex;
  position: absolute;
  left: 100px;
  top: 900px;
  font-size: 20px;

  .memberlink {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .carousel {
    display: none;
  }
}
