
// .home{
//     height: 100vh;
//     width: 100%;
//     display: grid;
//     grid-template-columns: 60% 40%;
//     gap: 20px;
// }

// .getStarted {
//     display: flex;
//     padding: 40px;
//     flex-direction: column;
//     line-height: 30px;
// }


.home{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
}

.getStarted {
    display: flex;
    padding: 40px;
    flex-direction: column;
    line-height: 30px;
}

.actionbutton {
    display: inline-block;
    justify-content: center;
    padding: 12px 26px;
    gap: 10px;
    color: #ffffff;
    position: relative;
    width: 161px;
    height: 44px;
    left: 630px;
    top: 80px;
    background: #03656b;
    border-radius: 100px;
  }
  
  .action:hover {
    background-color: #0062cc;
  }

  .steps{
    display:block;
    position: relative;
    left: 770px;
    top:50px;
  }

  .member{
    display: flex;
    position: absolute;
    left: 100px;
    top: 900px;
    font-size: 20px;

    .memberlink{
        text-decoration: underline;
    }
  }