

/*==================
this color and style is only applicable to marketplace profile
==============================================================*/

.profileWrapper{
  display: flex;
  max-width: 100%;
  background-color: white;
}

.sidebar{
  /* width: 25%; */
  height: 150vh;
  padding: 4rem;
  background-color: var(--clr-primary-90);
  position:relative;
  


}
.homeExpanded {
  width: 75%;
  padding: 2rem;
  padding-left: 2rem;
  padding-right: 4rem;
}

.homeCollapsed {
  width: 90%;
  padding: 2rem;
  padding-left: 8rem;
  padding-right: 6rem;
}
.hrExpanded{
  width: 100%;
}
.hrCollapsed{
width: 80%;
}


.helpBar{
 display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  gap: 1.5rem;
  padding-bottom: 4rem;
}
.helpBar p{
  color: var(--clr-primary);
  font-size: 18px;
  font-weight: bold;
}
.categoryInput{
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.5rem;
}
.categoryIcons{
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 1rem;
  padding-left: 2rem;
  color: var(--clr-primary-10);
  font-size: 1.5rem;
}
.accountLinks{
  display: flex;
  text-align: start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
.accountLinks a:hover,
.accountLinks a:active{
  border-bottom: 2px solid black;
}


.accountTile{
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}
.accountLinks a{
  font-size: 16px;
  padding-bottom: 5px;
}
.accountTile p,
.accountLinks a{
  color:#000000;
}
.accountTile hr {
  background: #B9B5B5;
  /* width:80%; */
  padding-left: 5rem;
  margin-top: 10px;
}
.accountTileHr{
  width: 80%;
}
.accountTileHr2{
  width:63%;
}

.mainContent{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-top: 2rem;
}
.profileImg {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #C8A2A2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadButton{
  position: relative;
  cursor:pointer;
  text-align: start;
  top: 2rem;
  left: -5px;
  color: var(--clr-primary-10);
  border-bottom: 2px solid var(--clr-primary-10);
  padding-top: 5px;

}


.demoImage {
  font-size: 48px;
}

.timesIcon {
  cursor: pointer;
}

#fileInput {
  display: none;
}




.profileImg img{
  border-radius: 50%;
  margin: auto;
}
.uploadBtn{
  margin-top: 6rem;
  cursor: pointer;
  
}
.profileContent{
  width: 80%;
  color: var(--clr-primary);
}

.inputForm{
  display:flex;
  flex-direction: column;
  padding-top:4%;
  width: 50%;
  gap: 2rem;
  
}
/* .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width:50%;
} */
.docs{
  width: 100%;
}
.docs p{
  line-height: 1.5rem;
}
.profileContent p,
.formEditTitle,
.accountTile p,
.accountLinks{
  color: var(--clr-primary);
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}
.profileContent hr{
  width: 100%;
  margin-top: 2rem;
}
.formContent p{
  color: var(--clr-primary-10);
  font-weight: 400;
  font-size: 14px;
}


.error{
  font-size:14px;
  color: red;
}


.formEditTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}

.formEditTitle:first-child{
  padding-top: 0;
}
.formEditTitle p:last-child{
  border-bottom: 2px solid black;
  padding-top: 5px;
}


/*============================
Search Bar
==============================*/

.searchBar{
  display:flex;
  align-items: center;
  border-radius: 50px;
  width: 700px;
  background-color: var(--clr-neutral-90);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}
.dropDown{
  position: relative;
  width: 280px;
  /* border-radius: 50px; */
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid var(--clr-primary-70);
  background-color: var(--clr-primary-70);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}

.dropDownText{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-primary);
  padding: 1rem 1.5rem;
}

.dropDownList{
  position: absolute;
  top: 4rem;
  left:0;
  width:100%;
  max-height: 0;
  overflow:hidden;
  border-radius:15px;
  background-color: var(--clr-primary-90);
  text-align: start;
  transition: max-height .5s;

}.listShow{
  max-height: 300px;
}
.dropDownItems{
  font-size: 16px;
  font-weight: 500;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: margin-left .2s ease;

}
.dropDownItems:hover{
  margin-left: 0.5rem;
  color: var(--clr-secondary);

}
.searchBox{
  display:flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
  color: var(--clr-primary);

}
.input {
  border: 0;
  border-radius: none; 
  position: none;
  width: 100%;
 margin: 0; 
  line-height: 0; 
  outline: none;
}
.searchBox input{
  padding: 1rem;
  width:100%;
  font-size: 16px;
  font-weight:500;
  color: var(--clr-primary-10);
  border: 0;
  outline: 0;
  background-color: var(--clr-neutral-90);
  /* background-color: blue; */
}
.searchIcon{
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--clr-primary-10);
}

.searchBox input::placeholder{
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-neutral-70);
  
}


/*====================
btn
====================*/

.btn,
.btnBusiness{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  padding-top: 6rem;
}
/* .btnBusiness{
  justify-content: flex-end;
  align-items: flex-end;
} */
.btnFilled,
.btnOutlined{
  border-radius:50px;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
}
.btnFilled{
  width: 20%;
}
.btnOutlined{
  background-color: white;
  border: 1px solid var(--clr-primary);
}

.docUpload{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  width:100%

}


            