.sidenav {
  all: unset;
  background: #d9d9d9;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  width: 396px;
  position: fixed;
  top: 0;
  height: 100%;
  flex-shrink: 0;
}
.admin-title {
  margin: 3rem 0 2rem 3rem;
  width: 312px;
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 275%;
  color: #002629;
}
.sidenav-nav {
  list-style: none;
  padding: 0.6rem;
  margin: 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  cursor: pointer;
}
.sidenav-nav-item {
  width: 110%;
  margin-bottom: 0.8rem;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: #5c5c5c;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sidenav-link-text {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 82px;
}
.sidenav-link-icon {
  padding-right: 10px;
}

.sidenav-nav-item:hover {
  border-radius: 10px;
  background: #002629;
  /* width: 120%; */
}
.sidenav-nav-link:hover {
  color: #fff;
  font-weight: 500;
}
.active {
  display: flex;
  align-items: center;
  height: 3rem;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  background: #002629;
  width: 110%;
}
.support {
  margin-top: 70%;
  margin-left: 25px;
}
