.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px, 32px, 0px, 32px;
  width: 100%;
  background: linear-gradient(0deg, #bed6cd, #bed6cd),
    linear-gradient(0deg, #f0f7f7, #f0f7f7);
}

.nav .navlinkgroup {
  display: flex;
  flex-direction: row;
  margin-left: 30rem;
}
.nav .navlinkgroup .navlinks {
  display: flex;
  gap: 40px;
}
.nav .navlinkgroup .navlink {
  color: #002629;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.nav .navlinkgroup .navlink:hover {
  background-color: green;
  color: #333;
}
.nav.button {
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  padding: 12px 26px;
  gap: 10px;
  border-radius: 100px;
}
.nav .button:hover {
  background-color: #333;
  color: #fff;

  /* linear-gradient(0deg, #F0F7F7, #F0F7F7); */
}

/* .nav .navbuttongroup .loginbutton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 26px;
  gap: 10px;
  margin-right: 20px;
} */
