.table {
  align-items: center;
  width: 800px;
  padding: 1.25rem;
}

.titleRow {
  color: #6d6c6c;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border-top: #8d8c8c 1px dotted;
  border-bottom: #8d8c8c 1px dotted;
}

.dataRow {
  align-items: center;
  border: #03656b 1px solid;
  border-radius: 0.375rem;
  background-color: #f0f7f7;
  margin-bottom: 0.35rem;
  padding: 0.5rem;
}

.farmName {
  font-weight: bold;
  font-size: 1rem;
}

.verticalLine {
  color: #03656b;
  font-size: 2rem;
  padding-left: 1.75rem;
  margin-bottom: 0.4rem;
}

.viewTab {
  padding-right: 0.5rem;
  text-decoration: underline solid #93ffe8 2px;
}

.paginationContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.paginationActive {
  border: 1px solid #a0aec0;
  border-radius: 9999px;
}

.paginationPage {
  color: #a0aec0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationArrow {
  color: #a0aec0;
}
