.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  border: 1px solid #03656b;
  border-radius: 25px;
  background-color: #f0f7f7;
}

.searchInput {
  width: 100px;
  border: none;
  background-color: #f0f7f7;
  margin-left: 10px;
  margin-bottom: 4px;
}

.searchInput::placeholder {
  color: #bdbdbd;
  font-size: 10px;
}

.dateSelect {
  color: #03656b;
  font-size: 10px;
  width: 100px;
  height: 30px;
  border: #03656b 1px solid;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 15px;
  padding-left: 5px;
}
