.container {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: auto;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // place-items: center;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  padding: 20px;
}

.heading > h1 {
  font-size: 24px;
}
