.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 88px;
    margin: 40px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(100, 111, 112, 0.17);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        border: 1px solid #45DFA9;
        transform: translateY(-3px);
        cursor: pointer;
    }

    .description {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 24px 12px 16px;
        gap: 16px;
    }

    input[type="radio"] {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        accent-color: #03656B;
        mix-blend-mode: multiply;
    }




    .icon {
        background: linear-gradient(180deg, rgba(69, 223, 169, 0.23) 20.14%, rgba(255, 255, 255, 0) 100%);
        border: 1px solid linear-gradient(180deg, rgba(69, 223, 169, 0.23) 20.14%, rgba(255, 255, 255, 0) 100%);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 7px;
    }

}



:export {
    myClass: string;
}