#side-nav-bar{
    display:flex;
    flex-direction: column;
    width:240px;
    height:100%;
    border: 1px;
    position:fixed;
    background-color: #90ceb92c;
    justify-content: space-between;
}

#side-nav-bar-logo{
    margin-bottom : 35px;
    width: 150px;
    align-self: center;

}

#user-name{
    font:40px;
    font-weight: bold;
    margin-bottom: 45px;
}
#clickable-link-components{
    display:flex;
    flex-direction: column;
}
.settingsandsupportDiv{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

}
.top{
    display:flex;
    flex-direction: column;
}

.border-bottom-div{
    align-self: center;
    border-bottom:solid grey .5px;
    width:70%;
    height:.5px;
}
#home-welcome{
    border-radius:6px;
}
#clickable-link-components>span{
    margin: 5px;

}


/* SideNavBar.css */

/* Normal link styles */
#clickable-link-components span {
    padding: 16px;
    text-decoration: none;
    color: #000000;
    display: block;
    cursor: pointer; /* Add pointer cursor to indicate clickable */
  }

  /* Selected link styles */
  #clickable-link-components span.selected {
    background-color: #555; /* Change this to your desired background color */
    color: #fff; /* Change text color if needed */
  }
