.userInfo {
  background: rgb(243, 252, 243);
  width: 400px;
  margin: 10px 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(115, 114, 114, 0.9);
  gap: 10px;
  img {
    border-radius: 50px;
  }
  .listWrapper {
    display: flex;
    align-items: self-start;

    .list {
      font-size: 15px;
      display: flex;
      flex-direction: column;
      text-align: start;
      li {
        display: flex;
        gap: 5px;
        padding: 3px 5px;
      }
    }
  }
}
