$primary-color: #45dfa9;
$secondary-color: #02575d;
$secondary-color-60: #3a868a;
$tertiary-color: #03656b;
$tertiary-color-60: #98c0c3;
$tertiary-color-80: #bed6cd;
$progress-color: #ffb84c;
$neutral-color: #edf0f0;
$primary-font: "Inter Tight", sans-serif;
